<div class="form">
<h1>Mis Pedidos</h1>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="row">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Nro Pedido</th>
        <th scope="col">Total</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>25/03/2022</td>
        <td><a href="">908654534FR</a></td>
        <td>250&euro;</td>
        <td>Etregado</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>25/03/2022</td>
        <td><a href="">908654534FR</a></td>
        <td>250&euro;</td>
        <td>Etregado</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>25/03/2022</td>
        <td><a href="">908654534FR</a></td>
        <td>250&euro;</td>
        <td>Etregado</td>
      </tr>
    </tbody>
  </table>
</div>