<ul class="alert alert-danger" *ngIf="errors?.length > 0">
    <li *ngFor="let err of errors">{{ err }}</li>
  </ul>
  <!-- <h2 class="">{{ titulo }}<h2> -->
  
     <div class="cliente-form form">
      <form #registerForm="ngForm" (ngSubmit)="onSubmit()" [mustMatch]="['password', 'confirmPassword']" novalidate>
          <legend>{{ titulo }}</legend>
          <fieldset class="form-row">
            <div class="form-group col-md-6">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="usuario.nombre" #nombre="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && nombre.invalid }"  minlength="2" maxlength="35" required>
              <span *ngIf="nombre.touched && nombre.errors && nombre.errors?.['required']">Nombre requerido</span>
            </div>
           
            <div class="form-group col-md-6">
              <label for="apellidos">Apellido</label>
              <input type="text" name="apellidos" class="form-control" id=""  [(ngModel)]="usuario.apellidos" #apellidos="ngModel"  [ngClass]="{ 'is-invalid': registerForm.submitted && apellidos.invalid }" minlength="2" maxlength="35" required>
              <span *ngIf="apellidos.touched && apellidos.errors && apellidos.errors?.['required']">Apellido requerido</span>

            </div>
        </fieldset>
          <fieldset class="form-row">
          <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="inputEmail4" [(ngModel)]="usuario.email"  #email="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && email.invalid }" maxlength="50" required>
              <span *ngIf=" email.touched && email.errors && email.errors?.['required']">Email requerido</span>
            </div> 
            </fieldset> 
          <fieldset class="form-row">
          <div class="form-group col-md-6">
              <label for="confirmEmail">Confirmar Email</label>
              <input type="email" class="form-control" name="confirmEmail" id="confirmEmail"[(ngModel)]="usuario.confirmEmail" #confirmEmail="ngModel" required>
              <span *ngIf="confirmEmail.touched && confirmEmail.errors && confirmEmail.errors?.['required']">Campo requerido</span>
              <!-- <div *ngIf="confirmEmail.errors?.['mustMatch']">Passwords must match</div> -->

            </div> 
            <div class="form-group col-md-6">
              <label for="username">Usuario</label>
              <input type="text" class="form-control" name="username" id="username" [(ngModel)]="usuario.username" #username="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && username.invalid }" required>
              <span *ngIf="username.touched && username.errors && username.errors?.['required']">Usuario requerido</span>
            </div>
          </fieldset>
          <fieldset class="form-row">
          <div class="form-group col-md-6">
            <label for="password">Contraseña</label>
            <input type="password" name="password" class="form-control" id="password" [(ngModel)]="usuario.password" #password="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && password.invalid }" minlength="6" required>
            <!-- <span *ngIf="password.touched && password.errors && password.errors?.['required']">Password requerido</span> -->
            <div *ngIf="registerForm.submitted && password.invalid" class="invalid-feedback"></div>
                <div *ngIf="password.errors?.['required']">Password is required</div>
                <div *ngIf="password.errors?.['minlength']">Password must be at least 6 characters</div>  
        </div>
          <div class="form-group col-md-6">
            <label for="confirmPassword">Confirmar Contraseña</label>
            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="usuario.confirmPassword" [ngClass]="{ 'is-invalid': registerForm.submitted && confirmPassword.invalid }" required>
            <!-- <div *ngIf="registerForm.submitted && confirmPassword.invalid" class="invalid-feedback"> -->
                <div *ngIf="confirmPassword.errors?.['required']">Confirm Password is required</div>
                <div *ngIf="confirmPassword.errors?.['mustMatch']">Passwords must match</div>
                <span *ngIf="confirmPassword.touched && confirmPassword.errors && confirmPassword.errors?.['required']">Password requerido</span>

        </div>
        <!-- </div> -->
          <div class="form-group row">
            <label for="isDisponible" class="col-form-label col-sm-2"
              >Disponible</label
            >
            <div><br>
              <input hidden
                type="checkbox"
                [checked]="usuario.enabled == true"
                (change)="(usuario.enabled == false)"
                name="isDisponible"
                [(ngModel)]="usuario.enabled"
                id="" checked
                required
              />
            </div>
          </div>
      </fieldset>
          <button class="btn btn-primary"
         >Guardar</button>
        </form>
      </div> 

    